<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763729155395-e01ksopb3knn44rrcjmg68vf2b63m6jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763729155395-e01ksopb3knn44rrcjmg68vf2b63m6jr</string>
	<key>API_KEY</key>
	<string>AIzaSyDFOqhcf1KJlO5Xun03_ma5Ahe2LnMtaWc</string>
	<key>GCM_SENDER_ID</key>
	<string>763729155395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>w.app.timecapsule</string>
	<key>PROJECT_ID</key>
	<string>our-timecapsule</string>
	<key>STORAGE_BUCKET</key>
	<string>our-timecapsule.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763729155395:ios:ee8564a5f8ca6f21d24bf6</string>
</dict>
</plist>